<div class="center hero-unit">
  <h1>Welcome to the Finance App</h1>
  <h2>Make informed decisions about your finances</h2>
  <p>
    There are several tools you have available to use
    <ul>
      <li>Mortgage Payment Analysis</li>
      <li>Logical Account Divisions</li>
      <li>More to come!</li>
    </ul>
  </p>
  <%= link_to "Get Started", '', :class => "btn btn-large btn-primary" %>
</div>
