<% provide(:title, "Mortgages") %>

<h1>Mortgage Calculations</h1>
<div class="container">
  <%= render 'mortgages' %>
  <%= link_to "Create a new Mortgage", new_mortgage_path, :class => "btn btn-primary" %>

</div>
